<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FetchMethod" value="1"/> <!-- 0 for Dexcom auth (Dexcom G6) or 1 for Nightscout -->
    <add key="NightscoutUrl" value="https://accountname.herokuapp.com"/> <!-- Optional if using Dexcom auth, enter here to use right-click shortcut to site. -->
    <add key="DexcomUsername" value="username"/>
    <add key="DexcomPassword" value="password"/>
    
    <!-- If using AUTH_DEFAULT_ROLES = denied in Nightscout configuration, create an access key with at least 'readable' role and enter the token here. Otherwise, leave blank. -->
    <!-- http://www.nightscout.info/wiki/welcome/website-features/0-9-features/authentication-roles -->
    <add key="AccessToken" value=""/> 
    
    <add key="HighBg" value="180"/>
    <add key="DangerHighBg" value="250"/>
    <add key="LowBg" value="80"/>
    <add key="DangerLowBg" value="70"/>
    <add key="CriticalLowBg" value="55"/>
    <add key="ErrorLogPath" value="c:\TEMP\TrayError.txt"/>
  </appSettings>
</configuration>