<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="NightscoutUrl" value="https://accountname.herokuapp.com"/>
    <add key="HighBg" value="200"/>
    <add key="LowBg" value="80"/>
  </appSettings>
</configuration>