<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Data Fetch Method -->
    <!-- 0 for Dexcom auth (Dexcom G6+) or 1 for Nightscout (xDrip+) -->
    <add key="FetchMethod" value="0" />

    <!-- Dexcom Auth -->
    <add key="DexcomUsername" value="" />
    <add key="DexcomPassword" value="" />

    <!-- Nightscout Auth -->
    <!-- If using AUTH_DEFAULT_ROLES = denied in Nightscout configuration, create an access key with at least 'readable' role and enter the token here. Otherwise, leave blank. -->
    <!-- http://www.nightscout.info/wiki/welcome/website-features/0-9-features/authentication-roles -->
    <add key="AccessToken" value="" />

    <!-- Menu Configurations -->
    <!-- Required if using Nightscout auth -->
    <add key="NightscoutUrl" value="" />
    <!--  Enter Nightscout site URL here to use right-click shortcut to site. Ex. https://accountname.herokuapp.com -->

    <!-- Glucose Thresholds -->
    <add key="HighBg" value="180" />
    <add key="DangerHighBg" value="250" />
    <add key="LowBg" value="80" />
    <add key="DangerLowBg" value="70" />
    <add key="CriticalLowBg" value="55" />

    <!-- Application Settings -->
    <add key="PollingThreshold" value="30" />
    <!-- Time in seconds between retreiving latest glucose readings.  Dexcom transmitter only updates once every 5 minutes. -->
    <add key="ErrorLogPath" value="c:\TEMP\TrayError.txt" />
    <add key="EnableDebugMode" value="false" />
    <add key="LogLevel" value="1" />
    <!--Verbose = 0, Debug = 1, Information = 2, Warning = 3, Error = 4, Fatal = 5 -->
  </appSettings>
</configuration>
