<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .glucose-value-label {
            min-width: 175px !important;
            width: 175px !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <label>Glucose Datasource</label>
                    </div>
                    <div class="col-12">
                        <div class="form-check-inline">
                            <input id="radio_glucose_datasource_dexcom" name="glucose_datasource" type="radio" onclick="setDatasource('dexcom')" class="form-check-input" />
                            <label class="form-check-label" for="radio_glucose_datasource_dexcom">&nbsp;Dexcom</label>
                        </div>
                        <div class="form-check-inline">
                            <input id="radio_glucose_datasource_nightscout" name="glucose_datasource" type="radio" onclick="setDatasource('nightscout')" class="form-check-input" />
                            <label class="form-check-label" for="radio_glucose_datasource_nightscout">&nbsp;Nightscout</label>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <label>Glucose Unit</label>
                    </div>
                    <div class="col-12">
                        <div class="form-check-inline">
                            <input id="radio_glucose_unit_mg" name="glucose_unit" type="radio" onclick="setGlucoseUnit('mg')" class="form-check-input" checked />
                            <label class="form-check-label" for="radio_glucose_unit_mg">&nbsp;Dexcom</label>
                        </div>
                        <div class="form-check-inline">
                            <input id="radio_glucose_unit_mmol" name="glucose_unit" type="radio" onclick="setGlucoseUnit('mmol')" class="form-check-input" />
                            <label class="form-check-label" for="radio_glucose_unit_mmol">&nbsp;Nightscout</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_dexcom_settings" class="col-8" style="display: none;">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12"><label class="form-label" for="text_dexcom_username">Dexcom Username</label></div>
                        <div class="col-12"><input class="form-control" id="text_dexcom_username" type="text" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-12"><label class="form-label" for="text_dexcom_password">Dexcom Password</label></div>
                        <div class="col-12"><input class="form-control" id="text_dexcom_password" type="password" /></div>
                    </div>
                    <div class="col-12">
                        <div class="row col-12 mt-4">
                            <div class="col-4">
                                <label class="form-label">
                                    Dexcom Server
                                </label>
                            </div>
                            <div class="col-5">
                                <div class="form-check">
                                    <input id="radio_dexcom_server_us1" name="glucose_dexcom_server" type="radio" class="form-check-input" />
                                    <label class="form-check-label" for="radio_dexcom_server_us1">&nbsp;US Share 1</label>
                                </div>
                                <div class="form-check">
                                    <input id="radio_dexcom_server_us2" name="glucose_dexcom_server" type="radio" class="form-check-input" />
                                    <label class="form-check-label" for="radio_dexcom_server_us2">&nbsp;US Share 2</label>
                                </div>
                                <div class="form-check">
                                    <input id="radio_dexcom_server_int" name="glucose_dexcom_server" type="radio" class="form-check-input" />
                                    <label class="form-check-label" for="radio_dexcom_server_int">&nbsp;International</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="div_nightscout_settings" class="col-8" style="display: none;">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12"><label class="form-label" for="text_nightscout_url">Nightscout Url</label></div>
                        <div class="col-12"><input class="form-control" id="text_nightscout_url" type="text" /></div>
                    </div>
                    <div class="col-6">
                        <div class="col-12"><label class="form-label" for="text_nightscout_access_token">Nightscout Access Token</label></div>
                        <div class="col-12"><input class="form-control" id="text_nightscout_access_token" type="text" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <label>Glucose Thresholds</label>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="glucose_high" class="input-group-text glucose-value-label">High</label>
                            </div>
                            <input id="glucose_high" type="number" step="1" class="form-control" value="250" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="glucose_warning_high" class="input-group-text glucose-value-label">Warning High</label>
                            </div>
                            <input id="glucose_warning_high" type="number" step="1" class="form-control" value="200" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="glucose_warning_low" class="input-group-text glucose-value-label">Warning Low</label>
                            </div>
                            <input id="glucose_warning_low" type="number" step="1" class="form-control" value="80" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="glucose_low" class="input-group-text glucose-value-label">Low</label>
                            </div>
                            <input id="glucose_low" type="number" step="1" class="form-control" value="70" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="glucose_critically_low" class="input-group-text glucose-value-label">Critically Low</label>
                            </div>
                            <input id="glucose_critically_low" type="number" step="1" class="form-control" value="55" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var currentGlucoseUnit = 'mg';

        var unitValueControlIds = [ 'glucose_critically_low', 'glucose_low', 'glucose_warning_low', 'glucose_warning_high', 'glucose_high'];

        function setDatasource(source)
        {
            if (source === 'dexcom')
            {
                document.getElementById('div_dexcom_settings').style.display = 'block';
                document.getElementById('div_nightscout_settings').style.display = 'none';
            }
            else
            {
                document.getElementById('div_nightscout_settings').style.display = 'block';
                document.getElementById('div_dexcom_settings').style.display = 'none';
            }
        }

        function setGlucoseUnit(unit)
        {
            if (unit === 'mg')
            {
                if (currentGlucoseUnit === 'mmol')
                {
                    unitValueControlIds.forEach(function(name, inddex, array)
                    {
                        let element = document.getElementById(name);
                        element.value *= 18;
                    });
                }
                currentGlucoseUnit = 'mg';
            } else
            {
                if (currentGlucoseUnit === 'mg')
                {
                    unitValueControlIds.forEach(function (name, inddex, array)
                    {
                        let element = document.getElementById(name);
                        element.value /= 18;
                    });
                }
                currentGlucoseUnit = 'mmol';
            }
        }
    </script>
</body>
</html>